<!-- <div class="container mt-5"> -->
    <p>Estamos aquí para ayudarte. Si tienes alguna pregunta o necesitas más información, no dudes en ponerte en contacto con nosotros a través de los siguientes medios:</p>
    
    <div class="row">
      <div class="col-md-6">
        <h4>Información de Contacto</h4>
        <ul class="list-unstyled">
          <li><strong>Nombre:</strong> RescatandoEstilo</li>
          <li><strong>Dirección:</strong> Rivadavia 3832, Olavarría, Buenos Aires</li>
          <li><strong>Teléfono:</strong> +549 (2284) 45-8901</li>
          <li><strong>Email:</strong> contactorescatandoestilo.com.ar</li>
        </ul>
      </div>
      <div class="col-md-6">
        <h4>Horario de Atención</h4>
        <ul class="list-unstyled">
          <li><strong>Lunes a Viernes:</strong> 9:00 - 18:00 </li>
          <li><strong>Sábado:</strong> 10:00 - 16:00 </li>
          <li><strong>Domingo:</strong> Cerrado</li>
        </ul>
      </div>
    </div>
    
    <h4>Formulario de Contacto</h4>
    <form>
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" placeholder="Tu nombre">
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" placeholder="tuemail@ejemplo.com">
      </div>
      <div class="mb-3">
        <label for="mensaje" class="form-label">Mensaje</label>
        <textarea class="form-control" id="mensaje" rows="3" placeholder="Escribe tu mensaje aquí"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
  <!-- </div> -->