
<div class="table-responsive">
  <h5>Clothing List</h5>
  <table class="table text-center">
      <thead>
          <tr>
              <th>Image</th>
              <th>Name</th>
              <th>Type</th>
              <th>Price</th>
              <th>Stock</th>
              <th>Buy</th>
          </tr>
      </thead>
      <tbody>
          @for (clothes of clothes; track clothes.name) {
              <tr [ngClass]="{'offer': clothes.ofer}">
                <td><img [src]="clothes.image" [alt]="clothes.name" class="clothes-image"></td>
                <td>{{ clothes.name }}</td>
                <td>{{ clothes.type }}</td>
                <td>{{ clothes.price | currency:'$':'symbol':'1.0-0'}}</td>
                @if (clothes.stock > 0) {
                  <td>{{ clothes.stock }}</td>
                } @else {
                  <td class="badge text-bg-warning">NO STOCK</td>
                }
                <td>
                  <app-input-integer 
                    [quantity]="clothes.quantity" 
                    [stock]="clothes.stock" 
                    (quantityChange)="clothes.quantity = $event">
                  </app-input-integer>
                </td>
                <td>
                  <button class="btn btn-secondary" (click)="addToCart(clothes)">Add to Cart</button>
                </td>
              </tr>
          } @empty {
              <tr>
                <td class="badge text-bg-danger" colspan="6">THERE ARE NO CLOTHES</td>
              </tr>
          }
      </tbody>
  </table>
</div>
