
<div class="table-responsive">
  <h5>Clothing List</h5>
   <table class="table text-center">
      <thead>
          <tr>
              <th>Image</th>
              <th>Name</th>
              <th>Description</th>
              <th>Price</th>
              <th>Stock</th>
              <th>Buy</th>
          </tr>
      </thead>
      <tbody>
          <ng-container *ngIf="clothes.length > 0; else noClothes">
            <tr *ngFor="let clothesItem of clothes">
              <td><img [src]="clothesItem.image" [alt]="clothesItem.name" class="clothes-image"></td>
              <td>{{ clothesItem.name }}</td>
              <td>{{ clothesItem.description }}</td>
              <td>{{ clothesItem.price | currency:'$':'symbol':'1.0-0'}}</td>
              <td>{{ clothesItem.stock > 0 ? clothesItem.stock : 'NO STOCK' }}</td>
              <td>
                <app-input-integer 
                  [quantity]="clothesItem.quantity" 
                  [stock]="clothesItem.stock" 
                  (quantityChange)="clothesItem.quantity = $event">
                </app-input-integer>
              </td>
              <td>
                <button class="btn btn-secondary" (click)="addToCart(clothesItem)">Add to Cart</button>
              </td>
            </tr>
          </ng-container>
          <ng-template #noClothes>
            <tr>
              <td class="badge text-bg-danger" colspan="6">THERE ARE NO CLOTHES</td>
            </tr>
          </ng-template>
      </tbody>
  </table>
</div>
