<h5 class="my-4 ms-3 text-success">Shopping Cart</h5>
<div>
  <div class="shopping-cart bg-success-light p-3 rounded mt-1">
    <ul class="list-group">
      <li *ngFor="let clothes of (cartList$ | async)" class="list-group-item d-flex justify-content-between align-items-center">
        <span class="badge bg-secondary rounded-pill">{{ clothes.quantity }}</span>
        <span>{{ clothes.name }}</span>
        <span>{{ clothes.description }}</span>
        <span class="badge bg-secondary rounded-pill">$ {{ clothes.price * clothes.quantity }}</span>
      </li>
    </ul>
    <div class="d-flex justify-content-between mt-3 me-3">
      <h6 class="fw-bold d-flex align-items-center ms-auto mb-0">
        Total Purchase: 
        <span class="badge bg-success ms-2">$ {{ cartTotal$ | async }}</span>
      </h6>
    </div>
  </div>
  <div class="d-flex justify-content-end mt-3" *ngIf="!purchaseComplete">
    <button (click)="buyItems()" class="btn btn-success mt-2 me-4" [disabled]="isCartEmpty">Buy</button>
  </div>
</div>
<div *ngIf="purchaseComplete" 
     class="alert mt-4 ms-2 bg-success text-white text-center fw-bold" 
     role="alert" 
     style="font-size: 1.5rem;">
     Thank you for your purchase!
</div>


