.clothes-sidebar {
    padding: 20px;
  }
  
  .button-container {
    margin-bottom: 15px;
  }
  
  .btn {
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #0f5114;
    border-color: #051b07;
    width: 100px;
  }
  
  .btn:hover {
    background-color: #0f5114;
    color: #ffffff;
  }

  h5 {
    color: rgb(17, 120, 8);
    margin-bottom: 60px; 
  }

  .smaller-text {
    font-size: 16px;
    margin-top: -40px; 
    color: #000000; 
  }

  .clothes-sidebar .mb-3 {
    margin-top: 20px; 
  }